@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #000000;
}

p{
    color: #fff;
}

h1, h2{
    color: #33a8db;
}

.banner{
    background-image: linear-gradient(rgba(0,0,0, .6), rgba(49, 168, 221,.2), rgba(0,0,0, .6)), url(assets/images/banner.png);
    object-fit: cover;
    width: 100%;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #33A8DB;
}

.banner-content{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
}

.banner-content p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.banner-content h1{
    font-weight: 900;
    font-size: 40px;
    background-image: linear-gradient(#33a8db, #1372b7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

.logo img{
    width: 268px;
    border-radius: 100%;
    background-color: #00000099;
    padding: 10px;
}

button{
    padding: 19px 91px;
    background-color: transparent;
    background-image: linear-gradient(#33a8db, #1372b7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border-radius: 2px;
    font-weight: 900;
    font-size: 20px;
    border-width: 2px;
    border-color: #1372b7;
}

#course-content{
    max-width: 1024px;
    margin: 0 auto;
    height: 605px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

#course-content h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
}

#course-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    padding: 15px;
}

.modules-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.module{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 100px;
    border-radius: 57px;
    border-width: 10px;
    border: 2px solid #33A8DB;
    width: 700px;
    background-color: #252525;
    box-shadow: inset -2px 6px 4px #00000040;
}

.module span{
    color: #33A8DB;
    font-size: 18px;
    font-weight: 400;
}

#transform-world{
    width: 100%;
    height: 350px;
    background-image: url(assets/images/woman-code.png);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
}

#transform-world p{
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    line-height: 47px;
    width: 275px;
    position: absolute;
    top: 111px;
    left: 150px;
    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges{
    max-width: 1024px;
    margin: 0 auto;
    height: 605px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

#professional-challenges h2{
    font-weight: 500;
    font-size: 32px;
    font-family:'Raleway';
    width: 660px;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
}

#professional-challenges img{
    width: 660px;
    align-items: center;
    margin: 0 auto;
}

#professional-challenges p{
    width: 792px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
}

footer{
    border-top: 1px solid #33A8DB;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0, .8), rgba(49, 168, 221,.2));
}

footer img{
    width: 310px;
}

footer p{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

footer p a{
    color: #33A8DB;
}